header,
footer{
    background-color: rgb(37, 93, 77);
    color: white;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}

header{
    text-align: right;
}

footer{
    margin: 0;
    text-align: center;  
    padding-bottom: 10px;
}

#github,
#portfolio,
#contact{
    display: inline;
}

ul{
    margin: 0;
}

body{
    text-align: center;
    color: rgb(79, 72, 70);
}

figure{
    margin: 0;   
    border-top: 10px solid rgb(188, 150, 127); 
    font-size: 20px;
}

h1{
    font-size: 40px;
}

li{
    display: block;
}

form{
    background: rgb(232, 206, 191);
    padding-bottom: 20px;
    border-top: 3px solid rgb(221, 176, 148);
}

#contact-border{
    position: relative;
    left: 350px;
    width: 300px;
    border: 3px solid rgb(221, 176, 148);
}