header,
footer{
    background-color: rgb(37, 93, 77);
    color: white;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

header{
    text-align: right;
}

footer{
    text-align: center;  
}

#github,
#portfolio,
#contact{
    display: inline;
}

figure{
    margin: 0;
    text-align: center;
    border-top: 10px solid rgb(188, 150, 127);
    color: rgb(79, 72, 70);
    font-size: 20px;
}

h1{
    font-size: 40px;
}